
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    input,
    textarea,
    select {
        width: 100%;
    }
    .userdetails
    {
        width: 100%;
    }
    #logo
    {
        width: 30%;
    }
}
@media screen and (min-width: 769px) {
  
    .userdetails
    {
        width: 25%;
    }
    #logo
    {
        width: 5%;
    }
}
.userdetails{
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

/* Style form error messages */
span {
    display: block;
    color: red;
    margin-bottom: 10px;
}
/* Style the login button */
.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    font-size: 16px;
}

/* Add hover effect */
.submit-button:hover {
    background-color: #0056b3;
}

/* Add focus and active states */
.submit-button:focus,
.submit-button:active {
    outline: none;
    background-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
